/* :::::::::::::::: PAGINA GENERAL:::::::::::::::::::::: */
*{
    margin: 0;
    padding: 0;
    
}

:root{
        --Rufous:#A40101;
        --Viridian-green:#2CA3AB;
        --Silver:#C4C4C4;
        --orange:rgb(220, 118, 51 );
        --Cadet: rgb(11, 87, 149);
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
}

p{
    color: var(--dark-color);
    text-align: justify;
}

/* :::::::::::::::::::::::::::::::::: PARTE LATERAL IZQUIERDA :::::::::::::::::::::::::::::::::::::::: */
.main{
    display: flex;
}

.izq{
    padding: 3rem 0;
    width: 30%;
    height: 560px;
    
    background-color: rgb(22, 22, 80);
    grid-area: iz;
}
.logo{
    display: none;
    margin: 2rem 1.5rem 2rem 1rem;
    width: 80%;
}

.botones{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
}

.btn1{
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 4px solid rgb(218, 106, 32);
    border-radius: 5px;
    
}

.btn1 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.btn2 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.btn3 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.btn2{
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 4px solid rgb(218, 106, 32);
    border-radius: 5px;
}

.btn3{
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 4px solid rgb(218, 106, 32);
    border-radius: 5px;
}

#chk-menu{
    display: none;
    
}
#chk-menu:checked ~ .botones{
    display:block;
    display: flex;
    flex-direction: column;
    
}
#chk-menu:checked ~ .logo{
    display:block;
    display: flex;
    flex-direction: column;
}

.btn-menu{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px;
    

}
.botones{
    
    display: none;
   
}
.item{
    padding: 0.7rem;
    text-decoration: none;
    color: white;
}
.item:hover{
    color: rgba(255, 255, 255, 0.4);
}




/* :::::::::::::::::::::::::::::::::: PARTE LATERAL DERECHA :::::::::::::::::::::::::::::::::::::::: */

main{
    overflow: hidden;
    display: grid;
    gap: 5px;
    grid-template-columns:5fr auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "iz de"; 
}  
.dere{
    grid-area: de;
    overflow: hidden;
    display: grid;
    gap: 5px;
    grid-template-columns:auto;
    grid-template-rows: 70px 1fr auto;
    grid-template-areas: 
    "item1 "
    "item2"  
    "item3";
}

.sesion{
    display: flex;
    padding: 0.5rem;
    width: 220px;
    background-image: linear-gradient(to right, #a5a2a4, #b1aeb0, #bcbabc, #c8c7c9, #d4d3d5, #d4d3d5, #d4d3d5, #d4d3d5, #c8c7c9, #bcbabc, #b1aeb0, #a5a2a4);
    
    border-radius: 6px;
    grid-area: item1;
}


.fa-user1{
    margin: 0 0.5rem;
    border: 3px solid rgb(245, 119, 35);
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
}

.sesion p{
    margin-top: 1rem;
}

.form-group{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center ;
    margin:  0;
    text-align: center;
    grid-area: item2;
    flex-direction: column;
}
.franja{
    width: auto;
    height: 100px;
    grid-area: item3;
    background-size: cover;
    margin: 0;
}
.franja img{
    width: 100%;

}
.form-group h1{
    font-weight: 400;
    color:rgb(199, 81, 2);
}

input{
    background-color: transparent;
    padding: 0.6rem 1rem;
}

.rellenar{
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
}
.relelnar .fa-iconos{
    display: flex;
    flex-direction: row;
}
.fa-iconos{
    
    background-color: rgb(22, 22, 80);
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem 0.3rem;
    border: 3px solid #2bb6c0;
    border-radius: 5px;
}

.form-input{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 300px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .izq{width: 80%; margin-right: 7rem;}
}

@media screen and (min-width: 1024px){

    body{
        background-color: ghostwhite;
    }
    
    .botones{
        display: block;
        display:block;
        display: flex;
        flex-direction: column;
    }
    .btn-menu{
        display: none;
    }
    .logo{
        display:block;
        display: flex;
        flex-direction: column;
    }
    .rellenar{
        display: flex;
        align-items: center;
        justify-content: center ;
        flex-direction: row;
    }
    .izq{
        width: 50%;
    }
    
}
