*{
    margin: 0;
    padding: 0;
}

:root{
        --Rufous:#A40101;
        --Viridian-green:#2CA3AB;
        --Silver:#C4C4C4;
        --orange:rgb(220, 118, 51 );
        --Cadet: rgb(11, 87, 149);
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
   
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
}

p{
    color: var(--dark-color);
    text-align: justify;
}

/* :::::::::::::::::::::::::::::::::::::::::::: HEADER :::::::::::::::::::::::::::::::::::::::::::::::: */
header{
    display: flex;
    background-color: rgb(63, 62, 62);
}

.logo{
    display: flex;
    width: 10px;
    margin: 1rem 0;
    width: 80%;
    align-items: center;
}

.iconos{
    width: 12%;
    margin: 1rem 0;

}

.fa-house-user{
    background-color: rgb(218, 216, 216);
    padding: 0.8rem;
    border-radius: 50%;
    border: 3px solid rgb(2, 190, 190);
}

.fa-power-off{
    background-color: rgb(218, 216, 216);
    padding: 0.8rem;
    border-radius: 50%;
    border: 3px solid rgb(2, 190, 190);
}

.franjaNaranja{
    background-image: url("../img/3.\ franjaninios.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height:70px;
    border-bottom: 5px solid rgb(2, 190, 190);
}

/* :::::::::::::::::::::::::::::::::::::: PRIMERA SECCION :::::::::::::::::::::::::::::::::::::::::::::::: */
.encabezado{
    display: grid;
    grid-template-areas: 
    "enc1"
    "enc2"
    "enc3";
    
}

.encabezado button{
    height: 30%;
    padding: 1rem;
    padding-bottom: 2rem;
    grid-area: enc2;
}
.btn1{
    display: flex;
    margin: 1rem;
    justify-content: center;
}
.encabezado h1{
    text-align: center;
    font-weight: 500;
    color: rgb(22, 22, 80);
    grid-area: enc3;
}

.rellenar{
    margin: 1rem;
    display: flex;
    justify-content: center;
    grid-area: enc1;
}
.fa-iconos{
    background-color: rgb(22, 22, 80);
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 0.3rem;
    border: 3px solid #2bb6c0;
    border-radius: 10px;
}


.form-input{
    border: 2px solid aqua;
    padding: 0 10px;
    width: 300px;
    height: 35px;
    border-radius: 10px;
}

.iconos a{
    color: black;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::: TABLA :::::::::::::::::::::::::::::::::::::::: */


table.colapsado {
    border-collapse: collapse;
    border-color: #2CA3AB;
    border-style: solid;
    margin: 0 5rem;

}




tr, td, th{
    text-align: center;
    
}

th{
    padding: 1rem 2rem;
    background-color: rgb(22, 22, 80);
    color: white;
    border: 5px solid #2CA3AB;
    font-weight: 500;
}

td{
    padding: 0.8rem 2rem;
}

table button{
    padding: 0.5rem 1rem;
}

.fa-btn{
    margin-left: 7px;
    text-align: center;
    vertical-align: middle;
}

.btn-azul{
    background-color: #2bb6c0;
    border-radius: 5px;
    border-style: none;
}

.btn-rojo{
    background-color: rgb(185, 2, 2);
    color: white;
    border-radius: 5px;
    border-style: none;
}

.encabezado button{
    background-color: rgb(214, 102, 27);
    border-radius: 5px;
    border: none;
    
}

.encabezado button a{
    text-decoration: none;
    color: white;
}

.fa-user-plus{
    margin-left: 0.5rem;
}
table{
    display: block;
    overflow-x: scroll;
}

@media screen and (min-width: 760px) {
    table{
        display: block;
        overflow-x: auto;
    }
    .encabezado{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: 
        "enc2 enc3 enc1"
        ;
        
    }
    
    .btn1{
        display: flex;
        margin: 1rem;
        
    }
    
    
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: PIE DE PAGINA :::::::::::::::::::::::::::::::::::::::: */
.pie-pagina .grupo-2{
    background-color: #000000e1;
    padding: 15px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
    font-family: Raleway;
    
}

.pie-pagina{
    margin-top: 3rem;
}
