/* :::::::::::::::::::::::::::::::::: ¿Seguro? :::::::::::::::::::::::::::::::::::::::: */

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.btn-1 {
    padding: 0.5rem 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #da6a20;
    color: white;
    border-radius: 5px;
    border: 2px solid gray;
}

.btn-1 a {
    text-decoration: none;
    color: white;
}

.btn-2 {
    padding: 0.5rem 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #212179;
    color: white;
    border-radius: 5px;
    border: 2px solid gray;
}

.btn-2 a {
    text-align: center;
    text-decoration: none;
    color: white;
}

/* ::::::::::::::::::; modal :::::::::::::::::::::::: */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4a4a4a7c;
    display: flex;
    --opacity: 0;
    --pointer: none;

    opacity: var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity 0.5s;
}

.modal:target {
    --opacity: var(--opacity);
    --pointer: unset;
}

.modalContainer {
    margin: auto;
    background-color: white;
    width: 30vw;
    max-height: 90%;
    overflow: hidden;
    text-align: center;
    padding: 2.5em 1.5em;
    border-radius: 1em;
}

.modalImg {
    margin: auto;
    width: 20vw;
    display: block;
}


.modal:target .modalContainer {
    animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.modalPicture {
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 1em;
}


.modalP {
    text-align: center;
    margin-bottom: 1em;
    line-height: 1.5
}

.modalClose {
    display: inline-block;
    border: 1px solid #333;
    padding: 1em 2em;
    text-decoration: none;
    font-weight: 700;
    color: #333;
    border-radius: 0.4em;
}

/* :::::::::::::::: CAS0 1 :::::::::::::::: */
.padding {
    font-weight: bolder;
    padding-right: 3rem;
}

.padding1 {
    font-weight: bolder;
    padding-right: 1.4rem;
}

.padding2 {
    font-weight: bolder;
    padding-right: 7rem;
}

.padding3 {
    font-weight: bolder;
    padding-right: 5rem;
}

.padding4 {
    font-weight: bolder;
    padding-right: 7rem;
}

.left {
    padding-left: 3rem;
}

.bold-color {
    color: red;
}

/* :::::::::::::::: CAS0 2 :::::::::::::::: */
.padding0 {
    font-weight: bolder;
    padding-right: 1rem;
}

.padding2-2 {
    font-weight: bolder;
    color: #212179;
    padding-right: 3.2rem;
}

.padding3-2 {
    font-weight: bolder;
    color: #212179;
    padding-right: 5.7rem;
}

.padding4-2 {
    color: #da6a20;
    font-weight: bolder;
    padding-right: 5rem;
}

.padding5 {
    color: #da6a20;
    font-weight: bolder;
    padding-right: 5.4rem;

}

.padding6 {
    font-weight: bolder;
    color: red;
    padding-right: 7.8rem;
}

.left1-2 {
    padding-left: 0rem;
}

/* :::::::::::::::: CAS0 3 :::::::::::::::: */
.padding1-3 {
    font-weight: bolder;
    padding-right: 2.4rem;
}

.padding6-3 {
    color: brown;
    font-weight: bolder;
    padding-left: 0.8rem;
}

.padding6-3 {
    font-weight: bolder;
    color: brown;
    padding-right: 5.8rem;

}

/* :::::::::::::::::::::::::::::::: MEDIA QUERIES :::::::::::::::::::::::::::::::: */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .buttons {
        flex-direction: column;
    }

    .modalImg {
        width: 30vw;
    }

    .modalP {
        font-size: 5vw;
    }

    .btn-2 {
        margin-top: 1rem;
        padding: 0.5rem 0;
    }

    .modalCaso1-1 {
        width: 80vw;
    }

    .padding {
        font-weight: bolder;
        padding-right: 0rem;
    }

    .padding1 {
        font-weight: bolder;
        padding-right: 0rem;
    }

    .padding2 {
        font-weight: bolder;
        padding-right: 0rem;
    }

    .padding3 {
        font-weight: bolder;
        padding-right: 0rem;
    }

    .padding4 {
        font-weight: bolder;
        padding-right: 0rem;
    }

    .left {
        padding-left: 0rem;
    }

    .bold-color {
        color: red;
    }

    /* :::::::::::::::: CAS0 2 :::::::::::::::: */
    .modalCaso2-2 {
        width: 80vw;
    }

    .padding0 {
        font-weight: bolder;
        padding-right: 0rem;
    }

    .padding2-2 {
        font-weight: bolder;
        color: #212179;
        padding-right: 0rem;
    }

    .padding3-2 {
        font-weight: bolder;
        color: #212179;
        padding-right: 0rem;
    }

    .padding4-2 {
        color: #da6a20;
        font-weight: bolder;
        padding-right: 0rem;
    }

    .padding5 {
        color: #da6a20;
        font-weight: bolder;
        padding-right: 0rem;

    }

    .padding6 {
        font-weight: bolder;
        color: red;
        padding-right: 0rem;
    }

    .left1-2 {
        padding-left: 0rem;
    }

    /* :::::::::::::::: CAS0 3 :::::::::::::::: */
    .modalCaso3-3{
        width: 70vw;
        overflow-y: scroll;
    }

    .padding1-3 {
        font-weight: bolder;
        padding-right: 0rem;
    }

    .padding6-3 {
        color: brown;
        font-weight: bolder;
        padding-left: 0rem;
    }

    .padding6-3 {
        font-weight: bolder;
        color: brown;
        padding-right: 0rem;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .modalCaso1-1 {
        width: 80vw;
    }

    .modalCaso2-2 {
        width: 80vw;
    }

    /*::::::; caso 3 :::::::: */
    .modalCaso3-3{
        width: 70vw;
        overflow-y: scroll;
    }

    .padding0, .padding1-3, .padding2-2, .padding3-2, .padding4-2, .padding5, .padding6-3, .bold-color3, .left, .left1-2{
        padding: 0;
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .modalCaso1-1 {
        width: 80vw;
    }

    .modalCaso2-2 {
        width: 80vw;
    }

    .modalCaso3-3{
        width: 70vw;
    }

    .padding0, .padding1-3, .padding2-2, .padding3-2, .padding4-2, .padding5, .padding6-3, .bold-color3, .left, .left1-2{
        padding: 0;
    }
}