/* :::::::::::::::: PAGINA GENERAL:::::::::::::::::::::: */
*{
    margin: 0;
    padding: 0;
    
}

:root{
        --Rufous:#A40101;
        --Viridian-green:#2CA3AB;
        --Silver:#C4C4C4;
        --orange:rgb(220, 118, 51 );
        --Cadet: rgb(11, 87, 149);
}




h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
}

p{
    color: var(--dark-color);
    text-align: justify;
}

/* :::::::::::::::::::::::::::::::::: ¿Seguro? :::::::::::::::::::::::::::::::::::::::: */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/10.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.seguro{
    background-color: white;
    width: 30vw;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    padding: 3rem;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.seguro img{
    width: 25vw;
}

.seguro p{
    text-align: center;
    color: rgb(99, 98, 98);
    font-size: large;
}

.botones{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.btn1{
    padding: 0.5rem 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(218, 106, 32);
    color: white;
    border-radius: 5px;
    border: 2px solid gray;
}

.btn1 a{
    text-decoration: none;
    color: white;
}

.btn2{
    padding: 0.5rem 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(33, 33, 121);
    color: white;
    border-radius: 5px;
    border: 2px solid gray;
}

.btn2 a{
    text-align: center;
    text-decoration: none;
    color: white;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .botones{
        flex-direction: column;
    }

    .btn2{
        padding: 1rem 0;
    }

}
  