* {
    margin: 0;
    padding: 0;
}

:root {
    --Rufous: #A40101;
    --Viridian-green: #2CA3AB;
    --Silver: #C4C4C4;
    --orange: #dc7633;
    --Cadet: rgb(11, 87, 149);
    --border: #62A1AA;
    --colorCuadro: #c7c6c6;
    --bordeCuadro: #868585;

    --backgroundTitulos: #62A1AA;
    --bordeTitulos: #46737F;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
}

p {
    color: var(--dark-color);
    text-align: justify;
}

a{
    text-decoration: none;
}

/* :::::::::::::::::::::::::::::::::::::::::::: HEADER :::::::::::::::::::::::::::::::::::::::::::::::: */
body {
    overflow-x: hidden;
}

header {
    display: flex;
    background-color: rgb(63, 62, 62);
    width: 100vw;
    max-width: 1500px;
}

.logo {
    width: 88%;
    margin: 1rem 0;
}

.iconos {
    width: 12%;
    margin: 1rem 0;

}

.iconos i {
    color: black;
}

.fa-house-user {
    background-color: rgb(218, 216, 216);
    padding: 0.8rem;
    border-radius: 50%;
    border: 3px solid rgb(2, 190, 190);
}

.fa-power-off {
    background-color: rgb(218, 216, 216);
    padding: 0.8rem;
    border-radius: 50%;
    border: 3px solid rgb(2, 190, 190);
}

.franjaNaranja {
    background-image: url(../img/3.\ franjaninios.svg);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    border-bottom: 5px solid rgb(2, 190, 190);
}


/* ::::::::::::::::::::::::::::::::::::::::: TITULO GENERAL :::::::::::::::::::::::::::::::::::::::::::::::: */

.titulo {
    background-color: rgb(22, 22, 80);
    color: white;
    width: 98.5vw;
    text-align: center;
    border-radius: 5px;

}

.titulo h1 {
    font-weight: 400;
    padding: 5px 0;

}

/* ::::::::::::::::::::::::::::::::::::::::::::::: contenido (GRID) :::::::::::::::::::::::::::::::::::::::: */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1fr 1fr 50px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "general general general"
        "general general general"
        "button button button";
}

.button{
    grid-area: button;
    margin: auto;
}

.general {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
    grid-template-rows: 70px 230px 230px 118px 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "line1 line1"
        "datosPaciente datosPaciente"
        "infoContact infoContact"
        "estadoSalud estadoSalud"
        "infoAdicional infoAdicional";
    grid-area: general;
}

.line1 {
    display: grid;
    grid-template-columns: 250px 150px;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "fecha noRegistro";
    grid-area: line1;
}

.fecha {
    grid-area: fecha;
}

.noRegistro {
    grid-area: noRegistro;
}

.datosPaciente {
    display: grid;
    grid-template-rows: 60px 50px 50px 50px;
    gap: 6px 12px;
    grid-auto-flow: row;
    grid-template-areas:
        "titulo1 titulo1"
        "nombre apellido"
        "identificacion tipoIdentity"
        "nacimiento edad";
    grid-area: datosPaciente;
}

.titulo1 {
    grid-area: titulo1;
}

.nombre {
    grid-area: nombre;
}

.apellido {
    grid-area: apellido;
}

.identificacion {
    grid-area: identificacion;
}

.tipoIdentity {
    grid-area: tipoIdentity;
}

.nacimiento {
    grid-area: nacimiento;
}

.edad {
    grid-area: edad;
}

.infoContact {
    display: grid;
    grid-template-rows: 60px 50px 50px 50px;
    gap: 0px 12px;
    grid-auto-flow: row;
    grid-template-areas:
        "titulo2 titulo2"
        "departamento municipio"
        "direccion correo"
        "telFijo telCel";
    grid-area: infoContact;
}

.titulo2 {
    grid-area: titulo2;
}

.departamento {
    grid-area: departamento;
}

.municipio {
    grid-area: municipio;
}

.direccion {
    grid-area: direccion;
}

.correo {
    grid-area: correo;
}

.telFijo {
    grid-area: telFijo;
}

.telCel {
    grid-area: telCel;
}

.estadoSalud {
    display: grid;
    grid-template-rows: 60px 50px;
    gap: 6px 12px;
    grid-auto-flow: row;
    grid-template-areas:
        "titulo3 titulo3 titulo3"
        "preexistencias discapacidad alergias";
    grid-area: estadoSalud;
}

.titulo3 {
    grid-area: titulo3;
}

.preexistencias {
    grid-area: preexistencias;
}

.discapacidad {
    grid-area: discapacidad;
}

.alergias {
    grid-area: alergias;
}

.infoAdicional {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "info1 info1 info1"
        "info2 info2 info2";
    grid-area: infoAdicional;
}

.info1 {
    grid-area: info1;
}

.info2 {
    grid-area: info2;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::: CONTENIDO ESTILOS :::::::::::::::::::::::::::::::::::::::: */
.container{
    background-color: white;
    border: 2px solid #868585;
    height: auto;
    padding: 3rem;
    margin: 0 4px;
    border-radius: 3px;
}

.general{
    padding: 2.5rem 1rem;
    border-radius: 10px;
    background-color: #c7c6c6;
    border: 2px solid #868585;

}

#date{
    width: 17vw;
}

#registro{
    width: 20vw;
}

.titulos{
    color: white;
    width: 88.3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    background-color: #62A1AA;
    border: 2px solid #46737F;
    border-radius: 5px;
}

.titulos i{color: black; flex-grow: 2; padding-left: 5rem;}
.titulos p{flex-grow: 2;}

input{
    padding: 10px 5px;
    border: 2px solid #62A1AA;
    width: 42vw;
}

select{
    width: 43vw;
    padding: 6.5px 5px;
    border: 2px solid #62A1AA;
}

#dateNac{
    width: 42vw;
}

#preexistencias{
    width: 30vw;
}

#alergiasInput{
    width: 22vw;
}

#pruebaCovidLeg{
    width: 80vw;
}

.info2{
    width: 80vw;
}

#pruebaCovid{
    width: 10vw;
}

.btn-si-no{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 20rem;
}


.save{
    margin: 1rem 0;
    width: 12vw;
    padding: 0.5rem 0;
    border-radius: 10px;
    border: none;
    background-color: #dc7633;
}

.save a{
    color: white;
    
}





/* ::::::::::::::::::::::::::::::::::::::::::::::: PIE DE PAGINA :::::::::::::::::::::::::::::::::::::::: */
.pie-pagina .grupo-2 {
    background-color: #000000e1;
    padding: 15px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
    font-family: Raleway;

}

.pie-pagina {
    margin-top: 3rem;
}

/* :::::::::::::::::::::::::::::::::::::: MEDIA QUERIES :::::::::::::::::::::::::::::::::::::::: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    header{
        width: 100vw;
        flex-direction: column;
    }

    .logo, .iconos{
        display: flex;
        margin: 1rem auto;
    }

    input{
        width: 50vw;
    }
    select{
        width: 55vw;
    }

    #dateNac{
        width: 50vw;
    }

    #date{
        width: 50vw;
    }

    .general{
        grid-template-rows: 0px 130px 230px 230px 230px 180px 130px 150px 230px 110px;
        grid-template-areas:
        "line1"
        "line1"
        "datosPaciente "
        "datosPaciente"
        "infoContact "
        "infoContact"
        "estadoSalud "
        "estadoSalud"
        "infoAdicional"
        "infoAdicional";
    }

    .line1 {
        grid-template-rows: 50px 50px;
        grid-template-areas:
            "fecha"
            "noRegistro";
        grid-area: line1;
    }

    .datosPaciente {
        grid-template-rows: 90px 50px 50px 50px 50px 50px 80px ;
        grid-template-areas:
        "titulo1"
        "nombre"
        "apellido"
        "identificacion"
        "tipoIdentity"
        "nacimiento"
        "edad";
    }

    .infoContact {
        grid-template-rows: 90px 50px 50px 50px 50px 50px 50px ;
        grid-template-areas:
            "titulo2"
            "departamento "
            "municipio"
            "direccion"
            "correo"
            "telFijo "
            "telCel";
        grid-area: infoContact;
    }

    .estadoSalud {
        grid-template-rows: 90px 50px 50px 50px;
        grid-template-areas:
            "titulo3"
            "preexistencias"
            "discapacidad"
            "alergias";
    }

    .titulos{
        padding: 1rem 1rem;
        width: 45vw;
        height: 15vw;
    }

    .titulos i{flex-grow: 2; padding-left: 0;}
    .titulos p{flex-grow: 2; text-align: center;}

    #preexistencias{
        width: 55vw;
    }
    
    #alergiasInput{
        width: 50vw;
    }

    #pruebaCovidLeg{
        width: 55vw;
        text-align: justify;
    }

    .info2{
        width: 60vw;
    }

    .btn-si-no{
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
    }

    .save{
        width: 50vw;
    }

    #registro{
        width: 50vw;
    }
    
    
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    header{
        width: 100vw;
        flex-direction: column;
    }
    .logo, .iconos{
        display: flex;
        margin: 1rem auto;
    }

    header{
        width: 100vw;
        flex-direction: column;
    }

    .logo, .iconos{
        display: flex;
        margin: 1rem auto;
    }
    .general{
        grid-template-rows: 0px 130px 230px 230px 230px 180px 130px 150px 230px 110px;
        grid-template-areas:
        "line1"
        "line1"
        "datosPaciente "
        "datosPaciente"
        "infoContact "
        "infoContact"
        "estadoSalud "
        "estadoSalud"
        "infoAdicional"
        "infoAdicional";
    }

    .line1 {
        grid-template-rows: 50px 50px;
        grid-template-areas:
            "fecha"
            "noRegistro";
        grid-area: line1;
    }

    .datosPaciente {
        grid-template-rows: 90px 50px 50px 50px 50px 50px 80px ;
        grid-template-areas:
        "titulo1"
        "nombre"
        "apellido"
        "identificacion"
        "tipoIdentity"
        "nacimiento"
        "edad";
    }

    .infoContact {
        grid-template-rows: 90px 50px 50px 50px 50px 50px 50px ;
        grid-template-areas:
            "titulo2"
            "departamento "
            "municipio"
            "direccion"
            "correo"
            "telFijo "
            "telCel";
        grid-area: infoContact;
    }

    .estadoSalud {
        grid-template-rows: 90px 50px 50px 50px;
        grid-template-areas:
            "titulo3"
            "preexistencias"
            "discapacidad"
            "alergias";
    }

    input{
        width: 68vw;
    }
    select{
        width: 71vw;
    }

    #dateNac{
        width: 68vw;
    }

    #registro{
        width: 68vw;
    }
    #date{
        width: 68vw;
    }

    .titulos{
        padding: 1rem 1rem;
        width: 64vw;
        height: 4vw;
    }

    .titulos i{flex-grow: 2; padding-left: 0;}
    .titulos p{flex-grow: 2; text-align: center;}

    #preexistencias{
        width: 71vw;
    }
    
    #alergiasInput{
        width: 68vw;
    }

    #pruebaCovidLeg{
        width: 71vw;
        text-align: justify;
    }

    .info2{
        width: 60vw;
    }

    .btn-si-no{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 5rem;
    }

    .save{
        width: 50vw;
    }

    
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .titulos{
        width: 80vw;
        height: 5vw;}
    input{width: 30vw}
    select{width: 32vw;}
    #dateNac{
        width: 30vw;
    }

    #date{
        width: 30vw;
    }
    #preexistencias{
        width: 28vw;
    }
    #alergiasInput{
        width: 18vw;
    }
    .container{
        height: 160vh;
    }
    .btn-si-no{
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        padding-left: 13rem;
    }
    
}

@media only screen and (min-width : 1824px){

}